@import "../../../styles/scss/variables.scss";

.error {
  margin: 10px 0;
  padding: 6px 8px;
  border-radius: 5px;
  width: 100%;
  height: max-content;
  background-color: $error-background-color;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px 0;

  .item {
    display: block;
    font-size: 14px;
    line-height: 14px;
  }
}
