@import "../../../styles/scss/variables.scss";

.button {
  padding: 6px 0;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #dadbe2;

    .text {
      color: #0747a6;
    }

    .button {
      color: $secondary-board-txt-color;
    }
  }

  .text {
    position: relative;
    padding-left: 20px;

    .icon {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
