@import "styles/scss/variables";
@import "styles/scss/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.2s;
  width: 100%;
  background-color: $header-bc-color;
  font-size: 19px;
  text-transform: capitalize;

  &:hover {
    box-shadow: $header-box-shadow;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5px;
    max-width: 1300px;

    .nav {
      display: flex;
      align-items: center;
      gap: 0 30px;

      .login {
        transition: color 0.2s linear;
        padding: 20px 0px;
        color: $secondary-txt-color;

        &:hover {
          color: $primary-txt-color;
        }
      }

      .register {
        
        @include primary-btn;
        border-radius: 0;
        padding: 20px 60px;
        font-size: inherit;
      }
    }
  }
}

.header-scroll {
  box-shadow: $header-box-shadow;
}

@include sm-screen {
  .header {
    &:hover {
      box-shadow: none;
    }

    .container {
      padding: 19px 20px;

      .nav {
        .login {
          display: none;
        }

        .register {
          display: none;
        }
      }
    }
  }

  .header-scroll-off {
    box-shadow: none;
  }
}
