.currentComment {
  margin: 12px 0;
}

.commentsContent {
  margin-top: 24px;
}

.commentsTitle {
  position: relative;

  &::before {
    position: absolute;
    left: -30px;
    content: "\f0e5";
    font-family: "icomoon";
  }
}

.commentBody {
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  outline: 2px solid #d3d3d3;
  font-weight: 300;
  font-size: 14px;
}

.toolTip {
  margin-top: -10px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
