.head {
  span {
    display: block;
    margin: 0 auto;
    width: max-content;
    color: #5e6c84;
    font-size: 16px;
  }
}

.title {
  display: block;
  color: #5e6c84;
  margin-top: 16px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
