@import "styles/scss/variables.scss";

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 10px 8px;
  border-radius: 5px;
  width: 272px;
  height: max-content;
  max-height: 100%;
  background-color: $primary-column-color;
  overflow: hidden;
  transition: height 0.3s linear;

  .head {
    padding: 12px 4px;
    padding-right: 26px;
    height: max-content;

    .close {
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      background-color: transparent;
      top: 14px;
      right: 8px;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 8.5px;
        display: block;
        height: 2px;
        width: 100%;
        background-color: $primary-board-txt-color;
        transition: background-color 0.3s;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

      &:hover {
        &::before,
        &::after {
          background-color: $secondary-board-txt-color;
        }
      }
    }
  }

  .footer {
    padding: 20px 0 10px 0;
    height: max-content;
    background-color: inherit;
  }

  .cards {
    padding: 10px 0;
    padding-right: 6px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 12px 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: height 0.3s linear;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: RGBA(66, 66, 66, 0.22);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: RGBA(158, 158, 158, 0.9);
      border-radius: 10px;
    }
  }
}
